*{
    padding: 0;
    margin: 0;
    /* background-color: black; */

}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height:150px;
    position: sticky;
    top:0px;
    z-index: 1;
}
.logo{
    display: flex;

}
h1{
    color: white;
    position:absolute;
    right:550px;
    margin-top: 50px;
    
}
.nav{
    display: flex;
    position: relative;
    align-items: flex-end;
    font-size:20px;
    bottom:20px
}
.nav > a{
    margin-right: 10px;
    text-decoration: none;

}
.nav > a:visited{
    color: white;

}
.welcomesec{
    display: flex;
    background-color: grey;
    
}
#welcome{
    position:relative;
    font-size: 100px;
    text-align: center;
    top:100px;
}

.loaded{
    height:600px;
   
}
h3{
    color: white;
}
#artists{
    background-color: black;}
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas:
    "box7 box7 box8 box8"
    "box1 box2 box3 box3"
    "box4 box4 box5 box6";
    /* gap: 10px 10px; */
}

.child{
    /* border: 1px solid ; */
}
.child{
    position: relative;
}
.overlay{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 40px;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color:white;
    opacity: 0;
    transition: .3s;
    backdrop-filter: blur(5px);
}
.overlay:hover{
    opacity: 1;
}
.parent >.box1{
    grid-area:box1;
    display:flex;
    /* background-color: rgba(0, 0, 0, .3); */
}
.parent >.box1:hover{
    background: rgba(0, 0, 0, .3);
    transition: 0.5s;
}
.parent >.box2{
    grid-area:box2;
    display:flex;
}
.parent >.box2:hover{
    background: rgba(0, 0, 0, .3);
    transition: 0.5s;
}
.parent >.box3{
    grid-area:box3;
    display:flex;
}
.parent >.box3:hover{
    background-color: rgba(0, 0, 0, .3);
    transition: 0.5s;
}
.parent >.box4{
    grid-area:box4;
    display:flex;
}
.parent >.box4:hover{
    background-color: rgba(0, 0, 0, .3);
    transition: 0.5s;
}
.parent >.box5{
    grid-area:box5;
    display:flex;
}
.parent >.box5:hover{
    background-color: rgba(0, 0, 0, .3);
    transition: 0.5s;
}
.parent >.box6{
    grid-area:box6;
    display:flex;
}
.parent >.box6:hover{
    background-color: rgba(0, 0, 0, .3);
    transition: 0.5s;
    scale: 2px;;
}
.parent >.box7{
    grid-area:box7;
    display:flex;
}
.parent >.box7:hover{
    background-color: rgba(0, 0, 0, .3);
    transition: 0.5s;
    scale: 2px;;
}.parent >.box8{
    grid-area:box8;
    display:flex;
}
.parent >.box8:hover{
    background-color: rgba(0, 0, 0, .3);
    transition: 0.5s;
    scale: 2px;;
}
.annouce-pic{
    width:100%;
    display:block
    
}